services:
  db:
    image: postgres:latest
    restart: always
    env_file:
      - ./BACKEND/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - notesapp-network

  backend:
    build:
      context: ./BACKEND
      dockerfile: Dockerfile
    image: notesapp-backend:latest
    env_file:
      - ./BACKEND/.env
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - notesapp-network

  frontend:
    build:
      context: ./FRONTEND
      dockerfile: Dockerfile
    image: notesapp-frontend:latest
    restart: always
    depends_on:
      - backend
    networks:
      - notesapp-network
    env_file:
      - ./FRONTEND/.env
    volumes:
      - frontend_build:/usr/share/nginx/html

  nginx:
    image: nginx:alpine
    depends_on:
      - backend
      - frontend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - frontend_build:/usr/share/nginx/html:ro
      - static_volume:/var/www/static:ro
    ports:
      - "80:80"
    networks:
      - notesapp-network

volumes:
  postgres_data:
  static_volume:
  frontend_build:

networks:
  notesapp-network:
    driver: bridge
